/* =====================================================================
   1. TIPOGRAFIES
   ===================================================================== */

@font-face {
  font-family: 'Sentient Variable';
  src: url('assets/Sentient-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Sentient Variable Italic';
  src: url('assets/Sentient-VariableItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'General Sans Variable';
  src: url('assets/GeneralSans-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'General Sans Variable Italic';
  src: url('assets/GeneralSans-VariableItalic.ttf') format('truetype');
}



/* =====================================================================
   2. VARIABLES DE COLOR
   ===================================================================== */

:root {
  --bg: #F3EDE6;
  --text: #6F4839;
  --transition-speed: 0.6s;

  /* variables d'opacitat */
  --op-strong: 1;
  --op-medium: 0.7;
  --op-soft: 0.5;
}



/* =====================================================================
   3. BASE
   ===================================================================== */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100vh;
}

body {
  padding: 0px 60px 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--bg);
  color: var(--text);
  font-family: 'General Sans Variable';
  transition: background-color var(--transition-speed) ease,
    color var(--transition-speed) ease;
}

.no-scroll {
  min-height: 100vh;
  overflow: hidden;
  scrollbar-gutter: stable;
}

@media (max-width: 768px) {
  body {
    padding: 0px 16px 0px 16px;
  }

}



/* =====================================================================
    4. LAYOUT COMPARTIT - HEADER
   ===================================================================== */

header {
  padding: 40px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

header div {
  width: 100%;
}

header a {
  text-decoration: none;
  color: var(--text);
  font-family: 'Sentient Variable Italic';
  font-style: normal;
  font-size: 16px;
  font-weight: 200;
  color: var(--text);
  opacity: var(--op-strong);
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease, color var(--transition-speed) ease;
}

header a:hover {
  color: var(--text);
  opacity: var(--op-soft);
}

header a:link {
  color: var(--text);
}

header a:visited {
  color: var(--text);
}

header a:active {
  color: var(--text);
}

.logo {
  font-family: 'General Sans Variable';
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  opacity: var(--op-strong);
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease, color var(--transition-speed) ease;
}

nav {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

.active {
  font-weight: 400;
}

.nav-sep {
  color: var(--text);
  opacity: var(--op-strong);
}

.location {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
  opacity: var(--op-strong);
}

.location span {
  color: var(--text);
  font-weight: 350;
  opacity: var(--op-strong);
}

.location strong {
  color: var(--text);
  font-weight: 500;
  opacity: var(--op-strong);
}

@media (min-width: 768px) {
  .hide-desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  header {
    padding: 16px 0px 0px 0px;
  }

  header nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
}



/* =====================================================================
    5. LAYOUT COMPARTIT - MAIN
   ===================================================================== */

main {
  height: 100%;
  padding: 96px 0px 0px 0px;
}

@media (max-width: 768px) {
  main {
    padding: 80px 0px 0px 0px;
  }
}



/* =====================================================================
    6. LAYOUT COMPARTIT - FOOTER
   ===================================================================== */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 0px 20px 0px;
  font-size: 12px;
  font-weight: 400;
  opacity: var(--op-soft);
}

@media (max-width: 768px) {
  footer {
    font-size: 10px;
  }
}



/* =====================================================================
    7. PÀGINA: HOME
   ===================================================================== */

.page-home p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.30;
  margin: 0 0 20px 0;
  color: var(--text);
}

.page-home p b {
  font-weight: 550;
}

@media (max-width: 768px) {
  .page-home p {
    font-size: 20px;
    line-height: 1.30;
  }
}



/* =====================================================================
    8. PÀGINA: ABOUT
   ===================================================================== */

.page-about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-intro {
  width: 41, 66666666666%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  flex-shrink: 0;
}

.about-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.about-role {
  font-family: 'General Sans Variable Italic';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.30;
  color: var(--text);
}

.about-description p {
  font-family: 'General Sans Variable';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.30;
  color: var(--text);
}

.about-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  font-family: "General Sans Variable";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.about-contact a {
  text-decoration: underline;
  color: var(--text);
}

@media (max-width: 768px) {
  .page-about p {
    font-size: 20px;
    line-height: 1.30;
  }
}