/* =====================================================================
   1. TIPOGRAFIES
   ===================================================================== */

@font-face {
  font-family: 'Sentient Variable';
  src: url('assets/Sentient-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Sentient Variable Italic';
  src: url('assets/Sentient-VariableItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'General Sans Variable';
  src: url('assets/GeneralSans-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'General Sans Variable Italic';
  src: url('assets/GeneralSans-VariableItalic.ttf') format('truetype');
}



/* =====================================================================
   2. VARIABLES DE COLOR
   ===================================================================== */

:root {
  --bg: #F3EDE6;
  --text: #6F4839;
  --transition-speed: 0.6s;

  /* variables d'opacitat */
  --op-strong: 1;
  --op-medium: 0.7;
  --op-soft: 0.5;
}



/* =====================================================================
   3. BASE
   ===================================================================== */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
}

body {
  padding: 0px 60px 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--bg);
  color: var(--text);
  font-family: 'General Sans Variable';
  transition: background-color var(--transition-speed) ease,
    color var(--transition-speed) ease;
}

.no-scroll {
  height: 100dvh;
  overflow: hidden;
  scrollbar-gutter: stable;
}

h1 {
  margin: 0 0 0 0;
}

/* RESPONSIVITAT */
@media (max-width: 768px) {
  body {
    padding: 0px 16px 0px 16px;
  }

}



/* =====================================================================
    4. LAYOUT COMPARTIT - HEADER
   ===================================================================== */

header {
  padding: 20px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

header div {
  width: 100%;
}

header a {
  text-decoration: none;
  font-family: 'Sentient Variable Italic';
  font-style: normal;
  font-size: 16px;
  font-weight: 200;
  color: var(--text);
  opacity: var(--op-strong);
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease, color var(--transition-speed) ease;
}

header a:hover {
  color: var(--text);
  opacity: var(--op-soft);
}

header a:link {
  color: var(--text);
}

header a:visited {
  color: var(--text);
}

header a:active {
  color: var(--text);
}

.logo {
  font-family: 'General Sans Variable';
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  opacity: var(--op-strong);
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease, color var(--transition-speed) ease;
}

nav {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

.active {
  font-weight: 400;
}

.nav-sep {
  color: var(--text);
  opacity: var(--op-strong);
}

.location {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
}

.location span {
  color: var(--text);
  opacity: var(--op-strong);
  font-weight: 350;
}

.location strong {
  color: var(--text);
  opacity: var(--op-strong);
  font-weight: 500;
}

/* RESPONSIVITAT */
@media (min-width: 768px) {
  .hide-tablet {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  header {
    padding: 16px 0px 0px 0px;
  }

  header nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
}



/* =====================================================================
    5. LAYOUT COMPARTIT - MAIN
   ===================================================================== */

main.page-home,
main.page-about {
  height: 100%;
  padding: 96px 0px 0px 0px;
}

/* RESPONSIVITAT */
@media (max-width: 768px) {

  main.page-home {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    padding: 0px 0px 20px 0px;
  }

  main.page-about {
    padding: 80px 0px 0px 0px;
  }
}



/* =====================================================================
    6. LAYOUT COMPARTIT - FOOTER
   ===================================================================== */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 0px 20px 0px;
  font-size: 12px;
  font-weight: 400;
  opacity: var(--op-soft);
}

/* RESPONSIVITAT */
@media (max-width: 768px) {
  footer {
    font-size: 10px;
  }
}



/* =====================================================================
    7. PÀGINA: HOME
   ===================================================================== */

.page-home p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.30;
  margin: 0 0 20px 0;
  color: var(--text);
}

.page-home p b {
  font-weight: 550;
}

/* RESPONSIVITAT */
@media (max-width: 768px) {
  .page-home p {
    font-size: 20px;
    line-height: 1.30;
  }
}



/* =====================================================================
    8. PÀGINA: ABOUT
   ===================================================================== */

main.page-about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
}

/* SECCIÓ ESQUERRA: INTRO + DESCRIPCIÓ + CONTACTE */

.about-intro {
  grid-column: span 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 36px 0;
}

.about-description p.about-role {
  margin: 0 0 8px 0;
  font-family: 'General Sans Variable Italic';
  font-size: 14px;
  font-weight: 500;
}

.about-description p {
  margin: 0;
  font-family: 'General Sans Variable';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.30;
  color: var(--text);
}

.about-contact-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-contact div {
  margin-bottom: 4px;
  font-family: "General Sans Variable";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.about-contact a {
  text-decoration: underline;
  color: var(--text);
  opacity: var(--op-strong);
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease, color var(--transition-speed) ease;
}

.about-contact a:hover {
  color: var(--text);
  opacity: var(--op-soft);
}

/* SECCIÓ DRETA: CV */

.about-cv {
  grid-column: span 7;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 24px;
  margin: 0 0 24px 0;
}

.about-section-title {
  grid-column: span 1;
  padding: 3px 0 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
}

.about-section-title h2 {
  color: var(--text);
  margin: 0px;
  font-family: 'Sentient Variable Italic';
  font-size: 12px;
  font-weight: 300;
  line-height: 1.20;
  text-align: right;
}

.about-section-title h2 span {
  color: var(--text);
  font-family: 'General Sans Variable Italic';
  font-weight: 400;
}

.about-entries {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-entry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 8px 0;
}

.about-entry.honors-awards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 4px 0;
}

.about-entry h3 {
  margin: 0px;
  font-family: 'General Sans Variable';
  font-size: 14px;
  font-weight: 350;
}

.about-entry h3 b {
  font-weight: 550;
}

.about-entry h3 a {
  font-family: 'General Sans Variable Italic';
  text-decoration: underline;
  color: var(--text);
  opacity: var(--op-strong);
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease, color var(--transition-speed) ease;
}

.about-entry a:hover {
  color: var(--text);
  opacity: var(--op-soft);
}

.about-dates {
  margin: 0px 0px 2px 0px;
  font-family: 'General Sans Variable';
  font-size: 13px;
  font-weight: 350;
  line-height: 1.20;
  opacity: var(--op-medium);
}

.about-desc {
  margin: 0px;
  font-family: 'General Sans Variable';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.20;
}

/* RESPONSIVITAT */
@media (min-width: 1025px) {
  .hide-desktop {
    display: none;
  }
}

@media (max-width: 1025px) {
  body.no-scroll {
    min-height: auto;
    overflow: auto;
    scrollbar-gutter: auto;
  }

  main.page-about {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  /* pensar de fer descripcio full pantalla i boto perque faci scroll al cv */
  .about-section {
    display: grid;
    grid-template-columns: 72px repeat(5, 1fr);
    grid-gap: 16px;
  }

  .about-entries {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}